@import "../../../mixins.scss";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  color: $primary-dark !important;
  background-color: $primary-light;
  font-weight: bold;
}

.tt-register-wrapper {
  max-width: 480px;
  width: 100%;
  padding: 2rem;
  background-color: $primary-light;
  border-radius: 12px;
  border: 2px solid $secondary-dark;
  box-shadow: 0px 0px 4px rgb(205, 205, 205);
  color: $text-primary;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: $secondary;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .tt-form-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.3rem;
      font-size: 0.95rem;
      color: $text-secondary;
    }

    input,
    select {
      padding: 0.6rem 0.8rem;
      border: 1px solid $secondary;
      border-radius: 8px;
      font-size: 1rem;
      background-color: white;
      color: $text-primary;

      &:focus {
        outline: none;
        border-color: $secondary;
        box-shadow: 0 0 4px 0px $secondary;
      }
    }
  }

  .tt-error input,
  .tt-error select {
    border-color: $error-color;
  }

  .tt-error-message {
    color: $error-color;
    font-size: 0.85rem;
    margin-top: 0.25rem;
  }

  .tt-btn {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: $secondary;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $secondary-dark;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .tt-checkbox {
    padding-left: 8px;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      input[type="checkbox"] {
        width: 33px;
        height: 33px;
        &:focus {
          outline: none;
          border-color: none;
          box-shadow: none;
        }
      }

      label {
        margin: 0 !important;
        font-size: 0.95rem;
        color: $text-secondary;
      }
    }
  }
}
