<main>
    <div class="tt-register-wrapper">
        <h2>Anmeldung</h2>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Felder -->
            @for (field of formFields; track $index) {
            <div class="tt-form-group" [ngClass]="{ 'tt-error': isInvalid(field.name) }">
                <label [for]="field.name">{{ field.label }}</label>
                @if (field.type !== 'select') {
                <input [id]="field.name" [type]="field.type" [formControlName]="field.name" autocomplete="on" />
                }
                @if( field.type === 'select') {
                <select [id]="field.name" [formControlName]="field.name">
                    @for (opt of field.options; track $index) {
                    <option [value]="opt.value">{{ opt.label }}</option>
                    }
                </select>
                }

                @if (isInvalid(field.name)) {
                <small class="tt-error-message">
                    {{ field.error }}
                </small>
                }

            </div>
            }

            <!-- Einverständnis Kontaktfreigabe -->
            <div class="tt-form-group tt-checkbox" [ngClass]="{ 'tt-error': isInvalid('consentContactSharing') }">
                <div>
                    <input id="consentContactSharing" type="checkbox" formControlName="consentContactSharing" />
                    <label for="consentContactSharing">
                        Ich bin einverstanden, dass meine Kontaktinformationen bei einem Match weitergegeben werden
                    </label>
                </div>
                @if (isInvalid('consentContactSharing')) {
                <small class="tt-error-message" >
                    Diese Zustimmung ist erforderlich.
                </small>
                }

            </div>

            <!-- Passwort-Abgleich -->
            @if (registerForm.hasError('notMatching')) {
            <div class="tt-form-group tt-error">
                <small class="tt-error-message">Die Passwörter stimmen nicht überein.</small>
            </div>
            }

            <!-- Submit Button -->
            <button type="submit" class="tt-btn" [disabled]="registerForm.invalid">
                Registrieren
            </button>
        </form>
    </div>
</main>