// Primärfarben
$primary-light: #fdebea;
$primary: #fda0ff;
$primary-dark: #c36fcc;

$secondary-light: #fbd0ad;
$secondary: #ff9da2;
$secondary-dark: #d7727c;

$text-primary: #1a1a1a;
$text-secondary: #5a5a5a;
$error-color: #e74c3c;

@mixin dFlex($jc: center, $ai: center, $fd: column, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}
